
body{
    color: #4a5073;
    background: #E3EBF6;
    letter-spacing: 0.88px;
}

.recharts-cartesian-axis-ticks{
    font-size: 0.85em;
    font-weight: 600;
}

.bg-custom-blue{
    background: #051a31;
}

.cursor-pointer{
  cursor : pointer;
}


div.icon {
    color: #00C08B;
    background-color: rgba( 0,192,139, .1 );
}

div.icon-shape {
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

div.icon-shape svg {
     font-size: 2rem; 
}

.nav-labels {
    color: #fff !important
}

