


div.icon {
    color: #00C08B;
    background-color: rgba( 0,192,139, .3 );
}

div.icon-shape {
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

div.icon-shape svg {
     font-size: 2rem; 
}

