html, body {
  height: 100% ;
}


body{
  /*color: #4a5073;
  background: #E3EBF6 !important;*/
  /*background-color: #202225 !important;*/
  background-color: #222 !important;
}

.brand-color{
  color: #00C08B !important;
}

.main-content {
  overflow-y: auto;
}


/* ---------- css for cowduck image with clouds ---------- */
img.cow_duck_image {
  position: absolute;
  top:0;
  left:0
}
/* ---------- css for cowduck image with clouds ---------- */

img.user-avatar {
  height: 50px;
}

/* ---------- Split Pane resizing css ---------- */
.Resizer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 5px !important;
  margin: 0 -5px;
  border-left: 1px solid rgba(255, 255, 255, 0) !important;
  border-right: 1px solid rgba(255, 255, 255, 0) !important;
  cursor: col-resize;
  background: #535557;
}

div.SplitPane {
  padding-left: 0px;
}

div.SplitPane  .horizontal {
  top: auto !important;
  bottom: auto !important;
}

.Resizer.vertical:hover {
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}
.Pane1 {
  background-color: #222;
  min-width: 320px !important; 
}
.Pane2 {
  background-color: transparent;
}
/* ---------- Split Pane resizing css ---------- */


/* ---------- progress bar css ---------- */
div.progress-bar-position {
  margin-top: 50%;
}
/* ---------- progress bar css ---------- */

/* ---------- icon bar css ---------- */
.nav-bar-row {
  height: -webkit-fill-available;
}

.nav-icon-bar{
  flex-direction: column;
  width: 70px;
  position: fixed;
  padding: 0px !important;
  background-color: rgb(49, 48, 48);
  height: -webkit-fill-available;
}

.nav-item {
  text-align: center;
}

.nav-link {
  color: #a3b6ca !important;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #00C08B !important;
}

.navbar-dark .navbar-nav .nav-link.active{
  background-color:#00C08B;
  color: #002856 !important;
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25) !important;
}

.nav-bar-dropdown-divider{
  border-top: 1px solid #a3b6ca;
}

.nav-icon {
  font-size: 30px;
}  

/*.nav-icon-disabled {
  color: rgba(0,0,0,.3) !important; 
}*/

.nav-icon-align {
  margin: auto 0px 0px;
  padding: 0px;
  align-self: flex-end; 
}

.nav-icons-bottom {
  position: absolute;
  bottom: 0;
  width: 70%;
}
/* ---------- icon bar css ---------- */

/* ---------- sub nav css ----------- */

.nav-pills .nav-link.active {
  border-bottom: 3px solid #00bc8c !important;
  background: transparent !important ;
  border-radius: 0 !important;

}

.nav-pills .nav-link.hover {
  color: #00bc8c !important;
}

.sub-nav {
  color: #E3EBF6 !important;
}

.btn-light {
  color: #000 !important;
}

/* ---------- sub nav css ----------- */

.cancel-button {
  border: 0px !important;
  float: right;
}

/* ---------- custom active css ---------- */
.list-group-item.active {
  color: #00C08B !important;
  font-weight: bold !important;
}

.list-group-item:hover {
  color: #00C08B !important;
}



/*.nav-icon .nav-link .active {
  color: white;
  background-color:transparent;
}*/
/* ---------- custom active css ---------- */


/* ---------- overriding react components schema builder css ---------- */
.schema-summary-icons {
  color: #E3EBF6;
  font-size: 24px;
}

.table {
  border: 0px solid transparent !important;
}

.table td, .table th {
  border-top: 0 !important; 
}

.table thead th {
  color: #a3b6ca !important;
}

.RRT__tab {
  background: transparent !important;
  border-style: solid; 
  border-color: transparent !important;
}

.tdb__panel__bar, .tdb__panel__title {
  background: transparent !important;
}

.accordion__button {
  background-color: transparent !important; 
  color: #cae4fd !important; 
  padding: 12px !important;
  border-radius: 4px !important;

}

.accordion__button:hover {
  background-color: #414141 !important; 
  color: #cae4fd !important; 

}

/* ---------- overriding react components schema builder css ---------- */


/* ---------- form control custom dark mode ---------- */
.form-control {
  color: #adb5bd !important;
  /*background-color: #444 !important;*/
  background-color: transparent !important;
  border-color: rgb(102, 102, 102) !important;
  min-height: 49px !important;
}

tbody, td, tfoot, th, thead, tr {
  border-style: solid !important;
  border-bottom: 1px solid #444 !important;
}


.form-select {
  mix-blend-mode: difference;
  border: 1px solid #adb5bd;
}

.css-yk16xz-control,  .css-1960ht7-control {
  background-color: #303030 !important;
  border-color: rgb(102, 102, 102) !important;
}

.css-1uccc91-singleValue {
  color: #adb5bd !important;
}

.css-g1d714-ValueContainer {
  background-color: #303030 !important;
}

.css-26l3qy-menu, .css-1ektx4i-menu {
  background-color: #303030 !important;
  border-color: rgb(102, 102, 102) !important;
  box-shadow: 5px 5px 5px #666;
}

.css-26l3qy-menu:hover {
  border-color: #303030 !important;
}

/*
.css-1gtuorj-indicatorContainer {
  background-color: #303030 !important;
}*/

input {
  border-color: hsl(0,0%,80%)!important;
  border-radius: 4px !important;
  border-style: solid !important;
  background-color: #303030 !important;
  min-height: 38px !important;
  color: hsl(0,0%,50%) !important;
}

.search-input {
  font-size: 13px !important;
}
/* ---------- form control custom dark mode ---------- */

.accordion-item:last-of-type .accordion-button.collapsed, .accordion-button.collapsed{
  color: #adb5bd; 
}
 
.click-list:hover {
  cursor: pointer;
}

/* ---------- custom modal dimensions ---------- */
.modal-dialog-centered {
  min-width: calc(100% - 45rem);
  min-height: calc(100% - 45rem);
}
/* ---------- custom modal dimensions ---------- */

/* ---------- custom react icons dimensions ---------- */
.react-icons {
  font-size: 25px;
}

.react-icons:hover {
  cursor: pointer;
}

.danger {
  color: #e74c3c;
}

.info {
  color: #2a7aaf;
}
/* ---------- custom react icons dimensions ---------- */


/* ---------- time travel widget ---------- */
.time-travel-control {
  top: 10;
  right: 0;
  /*margin-top: 80px;*/
  position: fixed !important;
  z-index: 999;
  box-shadow: 0 0.5rem 1rem rgb(46 54 80 / 15%);
}


::-webkit-scrollbar {
  width: 12px; 
  background: transparent;
  border: 1px solid grey;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow:inset 0 0 6px rgba(0,0,0,.3);
	background-color: #444;
  max-height: 50%; 
  height: 50%;
}


.time-travel-control {
  transition: 1s;
}

.time-travel-control:hover {
  cursor: pointer;
}

.time-travel-card-body {
  overflow-y: scroll;
  height: 1050px;
  background-color: #222;
  max-height: -webkit-fill-available;
}

.time-travel-card {
  margin-top: -2.5rem;
}

.time-travel-widget {
  width: 5rem;
  margin-left: 4px;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  min-height: 4rem;
  border-radius: 0 !important;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  background-color: #2b2c2b !important;
  background: rgba(0,0,0,.3) !important;
  float: right;
  position:sticky;
  float:right;
}

.current-time-point {
  background: #00bc8c !important;
  color: #000;
}
/* ---------- time travel widget ---------- */

.vertical-timeline-element-content {
  background: transparent !important;
}

.vertical-timeline::before {
  background: #444 !important;
}

.vertical-timeline-element-icon {
  box-shadow: none !important;
}

.vertical-timeline-element-content {
  box-shadow: none !important;
}

.vertical-timeline-element {
    margin: 1em 0 !important;
}



/* ---------- query builder ---------- */
.query-pane-icons {
  font-size: 25px;
  margin-top: 5px;
}

.query-builder-card {
  overflow-y: scroll;
  height: 265px;
  background-color: #444;
  max-height: -webkit-fill-available;
}

.query-description-card {
  overflow-y: scroll;
  max-height: -webkit-fill-available;
  height: 350px;
  margin-top: 55px;
  box-shadow: 0 0.5rem 1rem rgb(46 54 80 / 15%);
}

.query-name-pre {
  background: #222;
  padding: 3px;
  border-radius: 3px;
  padding: 0 8px;
  height: 22px;
  line-height: 22px;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color .25s ease,color .25s ease,text-shadow .25s ease;
  width: auto;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: fit-content;
  cursor: pointer;
}

.query:hover {
  cursor: pointer;
}



/* ---------- query builder ---------- */

.display-none {
  display: none;
}

.document-description-card-text{
  max-height: 150px;
  height: 150px;
  overflow-y: auto;
}

.cursor-auto {
  cursor: auto;
}

/* ---------- feedback form ---------- */
.cowduck-feedback-avatar{
  height: 10rem !important;
  width: 10rem !important;
  min-height: 10rem !important;
  min-width: 10rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.cowduck-top-sec {
  margin-top: -110px;
  margin-bottom: 15px;
}
/* ---------- feedback form ---------- */

/* ---------- example data product card image  ---------- */
.example-data-product-card-img {
    height: 220px !important;
    object-fit: cover;  
}
.activity-icon{
  font-size: 3rem;
  background-color: #2b2c2b !important;
  background: rgba(0,0,0,.3) !important;
  border-radius: 4px;
  padding: 10px;
}
/* ---------- example data product card image  ---------- */

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
  background: transparent !important;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item:before {
  display: none !important;
}

.react-slidedown {
  height: 0;
  transition-property: none;
  transition-duration: 0s !important;
  transition-timing-function: none !important; 
}

.menu-title {
  color: #6c757d !important;
  font-weight: 700 !important;
}

.sub-menu-title {
  color: #d0d4d8  !important;
  font-weight: 100 !important;
  cursor: pointer;
}
/* ---------- example data product card image  ---------- */

.mandatory-icon {
  font-size: 10px;
}

.CodeMirror {
  height: auto !important;
  min-height: 200px !important;
}f

.idfield {
  margin-right: 160px !important;
}

.subdoc-block {
  border-top: 1px solid #444;
  width: 1000px;
  padding-top: 20px;
}

