
body{
  /*color: #4a5073;
  background: #E3EBF6 !important;*/
  /*background-color: #202225 !important;*/
  background-color: #222 !important;
}

.main-content {
  overflow-y: auto;
}


/* ---------- css for cowduck image with clouds ---------- */
img.cow_duck_image {
  position: absolute;
  top:0;
  left:0
}
/* ---------- css for cowduck image with clouds ---------- */

img.user-avatar {
  height: 50px;
}

/* ---------- Split Pane resizing css ---------- */
.Resizer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 5px !important;
  margin: 0 -5px;
  border-left: 1px solid rgba(255, 255, 255, 0) !important;
  border-right: 1px solid rgba(255, 255, 255, 0) !important;
  cursor: col-resize;
  background: #535557;
}

div.SplitPane {
  padding-left: 0px;
}

div.SplitPane  .horizontal {
  top: auto !important;
  bottom: auto !important;
}

.Resizer.vertical:hover {
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
}
.Pane1 {
  background-color: #222;
}
.Pane2 {
  background-color: transparent;
}
/* ---------- Split Pane resizing css ---------- */


/* ---------- progress bar css ---------- */
div.progress-bar-position {
  margin-top: 50%;
}
/* ---------- progress bar css ---------- */

/* ---------- icon bar css ---------- */
.nav-bar-row {
  height: -webkit-fill-available;
}

.nav-icon-bar{
  flex-direction: column;
  width: 70px;
  position: fixed;
  padding: 0px !important;
  background-color: rgb(49, 48, 48);
  height: -webkit-fill-available;
}

.nav-item {
  text-align: center;
}

.nav-bar-dropdown-divider{
  border-top: 1px solid #a3b6ca;
}

.nav-icon {
  font-size: 30px;
}  

/*.nav-icon-disabled {
  color: rgba(0,0,0,.3) !important; 
}*/

.nav-icon-align {
  margin: auto 0px 0px;
  padding: 0px;
  align-self: flex-end; 
}
/* ---------- icon bar css ---------- */

.cancel-button {
  border: 0px !important;
  float: right;
}

/* ---------- custom active css ---------- */
.list-group-item.active {
  color: #00C08B !important;
  font-weight: bold !important;
}

.navbar-dark .navbar-nav .nav-link.active{
  background-color:#00C08B;
}

/*.nav-icon .nav-link .active {
  color: white;
  background-color:transparent;
}*/
/* ---------- custom active css ---------- */


/* ---------- overriding react components schema builder css ---------- */
.schema-summary-icons {
  color: #E3EBF6;
  font-size: 24px;
}

.RRT__tab {
  background: transparent !important;
  border-style: solid; 
  border-color: transparent !important;
}

.tdb__panel__bar, .tdb__panel__title {
  background: transparent !important;
}

div.tdb__accordion {
  background-color: transparent !important;
}

div.tdb__accordion__head{
  background-color: #adb5bd;
  border-radius: 4px;
  margin-top: 5px;
}
/* ---------- overriding react components schema builder css ---------- */


/* ---------- form control custom dark mode ---------- */
.form-control {
  color: #adb5bd !important;
  /*background-color: #444 !important;*/
  background-color: transparent !important;
  border-color: rgb(102, 102, 102) !important;
}

tbody, td, tfoot, th, thead, tr {
  border-style: solid !important;
  border-bottom: 1px solid #444 !important;
}

.form-select {
  mix-blend-mode: difference;
  border: 1px solid #adb5bd;
}
/* ---------- form control custom dark mode ---------- */

.accordion-item:last-of-type .accordion-button.collapsed, .accordion-button.collapsed{
  color: #adb5bd; 
}

.click-list:hover {
  cursor: pointer;
}

/* ---------- custom modal dimensions ---------- */
.modal-dialog-centered {
  min-width: calc(100% - 45rem);
  min-height: calc(100% - 45rem);
}
/* ---------- custom modal dimensions ---------- */

svg .game {

}
/*
Russian blue pattern:
#7be3f6
#4499a9
#276a76
#133b43
#03090a
*/
svg .game g {
  fill: #4499a9;
  fill-opacity: 0.6;
}
svg .game g:hover {
  fill: #7be3f6;
  fill-opacity: 0.7;
}
svg .game g:hover text {
  fill-opacity: 1;
}

svg .game g polygon {
  stroke: #7be3f6;
  stroke-width: 0.2;
  transition: fill-opacity .5s;
}
svg .game g text {
  font-size: 0.22em;
  fill: white;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}
svg .game path {
  fill: none;
  stroke: #7be3f6;
  stroke-width: 0.2em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg .game g.blocked {
    fill: #465880;
}
svg .game g.blocked:hover {
    fill: #53699a;
}