
body{
  color: #4a5073;
  background: #E3EBF6 !important;
}


/* ---------- css for cowduck image with clouds ---------- */
img.cow_duck_image {
  position: absolute;
  top:0;
  left:0
}
/* ---------- css for cowduck image with clouds ---------- */

img.user-avatar {
  height: 50px;
}

/* ---------- Split Pane resizing css ---------- */
.Resizer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
  background: #002856;
}

div.SplitPane {
  padding-left: 0px;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Pane1 {
  background-color: #222;
}
.Pane2 {
  background-color: transparent;
}
/* ---------- Split Pane resizing css ---------- */


/* ---------- progress bar css ---------- */
div.progress-bar-position {
  margin-top: 50%;
}
/* ---------- progress bar css ---------- */

/* ---------- icon bar css ---------- */
.nav-bar-row {
  height: -webkit-fill-available;
}

.nav-icon-bar{
  flex-direction: column;
  width: 70px;
  position: fixed;
  padding: 0px !important;
  background-color: rgb(49, 48, 48);
  height: -webkit-fill-available;
}

.nav-item {
  text-align: center;
}

.nav-bar-dropdown-divider{
  border-top: 1px solid #a3b6ca;
}

.nav-icon {
  color: #a3b6ca !important;
  font-size: 30px;
}  

.nav-icon-align {
  margin: auto 0px 0px;
  padding: 0px;
  align-self: flex-end;
}
/* ---------- icon bar css ---------- */

.cancel-button {
  border: 0px !important;
  float: right;
}

/* ---------- custom active css ---------- */
.list-group-item.active {
  color: #00C08B !important;
  font-weight: bold !important;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #007bff!important;
  background-color: rgb(34, 34, 34, .3);
}
/* ---------- custom active css ---------- */