
body{
  color: #4a5073;
  background: #E3EBF6 !important;
}


/* ---------- css for cowduck image with clouds ---------- */
img.cow_duck_image {
  position: absolute;
  top:0;
  left:0
}
/* ---------- css for cowduck image with clouds ---------- */

img.user-avatar {
  height: 50px;
}

/* ---------- Split Pane resizing css ---------- */
.Resizer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Pane1 {
  background-color: #002856;
}
.Pane2 {
  background-color: #E3EBF6;
}
/* ---------- Split Pane resizing css ---------- */


/* ---------- progress bar css ---------- */
div.progress-bar-position {
  margin-top: 50%;
}
/* ---------- progress bar css ---------- */

/* ---------- card to create new dp ---------- */
div.new-dp-card {
  min-height: 150px;
}
/* ---------- card to create new dp ---------- */
