
body{
color: #4a5073;
background: #E3EBF6 !important;
}

div.icon-bar {
  width: 70px; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
  position: fixed;
}

.nav-icon-bar{
flex-direction: column;
width: 70px;
position: fixed;
padding: 0px !important;
}

/*
we can extend the bootstrap css
*/
.nav-icon {
  display: block;
  text-align: center;
  padding: 16px 12px !important;
  transition: all 0.3s ease;
  /*color: white;*/
  font-size: 32px;
}

div.nav-icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

/* div.active {
  background-color: #4CAF50; 
  /* Add an active/current color */
/*}*/

.icon-plus{
  color:#00bc8c;
  position: absolute;
  font-weight: bold;
  
}


.recharts-cartesian-axis-ticks{
font-size: 0.85em;
font-weight: 600;
}

.bg-custom-blue{
  background: #051a31;
  height: auto !important;
}

.nav-labels {
  color: #eaedf2;
}

.transparant {
  background: transparent;
}

/*accordian*/
.sidebar-accordian{
  background: transparent!important;
  color: #eaedf2 !important;
}

.accordion-button:not(.collapsed){
  background: #2e3650 !important;
  /*color: #eaedf2 !important;*/
  color: #00C08B !important;
}

form{
  margin:0;
}
div.container-background {
  background-color: #E3EBF6;
}

div.pallet {
  padding: 10px;
  background: #fff;
  border-radius: 4px;
}

div.editor-pallet{
  border-radius: 4px;
  border: 1px solid #ced4da;
} 

div.query-pane-pallet {
  border-radius: 4px;
  background-color: #f4f6f8;
  padding: 10px 0px 0px 0px;
}

.table th {
  color: #00C08B !important;
  border: 0 !important
}

div.icon {
    color: #00C08B;
    background-color: rgba( 0,192,139, .3 );
}

div.icon-shape {
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

div.icon-shape svg {
     font-size: 2rem; 
}

.logo_img{
  max-width: 170px;
}





div.icon-bar {
  width: 70px; /* Set a specific width */
  background-color: #555; /* Dark-grey background */
  position: fixed;
}

.nav-icon-bar{
flex-direction: column;
width: 70px;
position: fixed;
padding: 0px !important;
}

/*
we can extend the bootstrap css
*/
.nav-icon {
  display: block;
  text-align: center;
  padding: 16px 12px !important;
  transition: all 0.3s ease;
  /*color: white;*/
  font-size: 32px;
}

div.nav-icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

/* div.active {
  background-color: #4CAF50; 
  /* Add an active/current color */
/*}*/

.icon-plus{
  color:#00bc8c;
  position: absolute;
  font-weight: bold;
  
}


body{
  color: #4a5073;
  background: #E3EBF6;
  letter-spacing: 0.88px;
}

.recharts-cartesian-axis-ticks{
  font-size: 0.85em;
  font-weight: 600;
}

.bg-custom-blue{
  background: #051a31;
}

.cursor-pointer{
cursor : pointer;
}


div.icon {
  color: #00C08B;
  background-color: rgba( 0,192,139, .1 );
}

div.icon-shape {
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

div.icon-shape svg {
   font-size: 2rem; 
}

.Resizer {
background: #000;
opacity: 0.2;
z-index: 1;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-moz-background-clip: padding;
-webkit-background-clip: padding;
background-clip: padding-box;
}

.Resizer:hover {
-webkit-transition: all 2s ease;
transition: all 2s ease;
}

.Resizer.horizontal {
height: 11px;
margin: -5px 0;
border-top: 5px solid rgba(255, 255, 255, 0);
border-bottom: 5px solid rgba(255, 255, 255, 0);
cursor: row-resize;
width: 100%;
}

.Resizer.horizontal:hover {
border-top: 5px solid rgba(0, 0, 0, 0.5);
border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
width: 11px;
margin: 0 -5px;
border-left: 5px solid rgba(255, 255, 255, 0);
border-right: 5px solid rgba(255, 255, 255, 0);
cursor: col-resize;
}

.Resizer.vertical:hover {
border-left: 5px solid rgba(0, 0, 0, 0.5);
border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
cursor: not-allowed;
}
.Resizer.disabled:hover {
border-color: transparent;
}

body{
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #222;
}

div.side-black{
background: #252526;
}


.nav-labels {
  color: #fff !important
}


