
body{
color: #4a5073;
background: #E3EBF6;
}
.recharts-cartesian-axis-ticks{
font-size: 0.85em;
font-weight: 600;
}

.bg-custom-blue{
  background: #051a31;
  height: auto !important;
}

.cursor-pointer{
  cursor : pointer;
}

.nav-labels {
  color: #eaedf2;
}

.transparant {
  background: transparent;
}

/*accordian*/
.sidebar-accordian{
  background: transparent!important;
  color: #eaedf2 !important;
}

.accordion-button:not(.collapsed){
  background: #2e3650 !important;
  /*color: #eaedf2 !important;*/
  color: #00C08B !important;
}

div.container-background {
  background-color: #E3EBF6;
}

div.pallet {
  padding: 10px;
  background: #fff;
  border-radius: 4px;
}

div.editor-pallet{
  border-radius: 4px;
  border: 1px solid #ced4da;
} 

div.query-pane-pallet {
  border-radius: 4px;
  background-color: #f4f6f8;
  padding: 10px;
}

.table th {
  color: #00C08B !important;
  border: 0 !important
}

div.icon {
    color: #00C08B;
    background-color: rgba( 0,192,139, .3 );
}

div.icon-shape {
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

div.icon-shape svg {
     font-size: 2rem; 
}

.logo_img{
  max-width: 170px;
}

