name: Build and release
on:
  push:
    branches:
      - dev
      - master

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: 14
    - name: Bootstrap lerna
      run: npx lerna bootstrap --include-dependencies
    - name: Build
      run: npx lerna run build
